<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr8RM4qUOwenUuTBJ0x7Ek6DB7eM5dbGA</string>
	<key>GCM_SENDER_ID</key>
	<string>563203791150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp2</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-app-6ec47</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-app-6ec47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563203791150:ios:8e1256de368413c48442bf</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-app-6ec47-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>